@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nanum+Myeongjo:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 25, 25);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

p {
  font-family: "Nanum Myeongjo", serif !important;
  color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif !important;
}

.header {
  transition: 1s;
}

.logo {
  padding: 1rem 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 25, 25);
  text-align: center;
}

.logo-titulo {
  font-weight: 1000;
  font-size: 3rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.logo-slogan {
  font-weight: 300;
  font-size: 1.2rem;
  font-family: "Merriweather", serif !important;
  text-align: center;
  color: rgb(255, 255, 255);
}

.menu {
  color: rgb(255, 255, 255);
  background-color: black;
  height: 5rem;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
  font-size: 1.5rem;
  transition-duration: all 1s;
}
.menu .menu-item {
  display: flex;
  font-size: 20px;
}
.menu .menu-item .menu-link {
  font-family: "Merriweather", serif !important;
  font-weight: 800;
  animation: iniciopag 1s;
}
.menu .menu-item .menu-link:hover {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgb(48, 48, 48);
  transform: scale(1.5);
}

.menu-link.active {
  color: dimgray;
}

@keyframes iniciopag {
  50% {
    transform: scale(1.5);
  }
}
.main {
  flex-grow: 1;
}

.parrafos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-items: center;
  transition: all 500ms;
}
.parrafos .parrafo-hover:hover {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: rgb(48, 48, 48);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.parrafos .parrafo {
  animation: roll-in-left 0.6s ease-out both;
  padding: 2rem 2rem;
  font-size: 2rem;
  width: 354px;
  height: 418px;
  background-image: url(../images/exteriorElHado.jpg);
  background-repeat: no-repeat;
  background-size: 354px 418px;
  background-position: center center;
  color: rgb(255, 255, 255);
}
.parrafos .parrafo2 {
  animation: roll-in-left 0.6s ease-out both;
  animation-delay: 250ms;
  padding: 2rem 2rem;
  font-size: 2rem;
  width: 354px;
  height: 418px;
  background-image: url(../images/interiorElHado.jpg);
  background-repeat: no-repeat;
  background-size: 354px 418px;
  background-position: center center;
  color: rgb(255, 255, 255);
}

.mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.images {
  display: flex;
  size: 10rem;
}

.img-sabores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  padding: 1rem;
}

.parrafos-largos {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid rgb(22, 22, 22);
}

.exterior-nosotros {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  padding: 1rem;
  align-items: center;
}
.exterior-nosotros .img-nosotros {
  width: 100vh;
  padding-left: 16px;
}
.exterior-nosotros .img-nosotros-2 {
  width: 80vh;
  padding-right: 16px;
}

.p-local {
  padding: 1rem 2rem;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
}

.contacto-items {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.link-ubicacion:hover {
  background-color: rgb(54, 54, 54);
}

.carouel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  margin-top: 10px;
  padding-bottom: 10px;
}

.carousel {
  width: 65vh;
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.pie {
  font-family: "Nanum Myeongjo", serif;
  height: 3rem;
  border-top: 5px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.links2 {
  color: rgb(251, 243, 233);
  padding-bottom: 1rem;
}

@media (max-width: 1074px) {
  .exterior-nosotros {
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .contacto-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 4fr;
    font-size: 0.3rem;
  }
}
@media (max-width: 820px) {
  .exterior-nosotros {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .img-nosotros {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    justify-content: space-around;
  }
  .img-nosotros-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0;
    justify-content: space-around;
  }
}
@media (max-width: 740px) {
  .parrafos {
    display: grid;
    grid-template-rows: 12fr 12fr;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .parrafo {
    padding: 10px;
  }
  .parrafo2 {
    padding: 10px;
  }
}
@media (max-width: 650px) {
  .pie {
    display: flex;
    flex-direction: row;
  }
  .parrafos-largos {
    font-size: 0.9rem;
    justify-content: center;
  }
}/*# sourceMappingURL=estillos.css.map */