@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nanum+Myeongjo:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 25, 25);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Nanum Myeongjo', serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

.logo {
    padding: 1rem 2rem;
    color: white;
    background-color: rgb(26, 25, 25);
    text-align: center;
}

.logo-titulo{
    font-weight: 1000;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.logo-slogan{
    font-weight: 300;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
}

.menu-item {
    display: flex;
    font-size: 20px;
    
}

.menu {
    color: white;
    background-color: rgb(0, 0, 0);
    height: 5rem;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    font-size: 1.5rem;
}

.menu-link {
    font-weight: 800;
}

.menu-link.active {
    color: dimgray;
}

.menu-link:hover {
    background-color: rgb(54, 54, 54);
}

.parrafos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem;
    padding-top: 1rem;
    align-items: center;
}

.parrafo {
    padding: 2rem 2rem;
    font-size: 2rem;
    width: 354px;
    height: 418px;
    background-image: url(../images/exteriorElHado.jpg);
    background-repeat: no-repeat;
    background-size: 354px 418px;
    background-position: center center;
    color: rgb(255, 255, 255)
    
    
}

.parrafo2 {
    padding: 2rem 2rem;
    font-size: 2rem;
    width: 354px;
    height: 418px;
    background-image: url(../images/interiorElHado.jpg);
    background-repeat: no-repeat;
    background-size: 354px 418px;
    background-position: center center;
    color: rgb(255, 255, 255);
}

.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.pie {
    font-family: 'Nanum Myeongjo', serif;
    height: 3rem;
    border-top: 5px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.links2 {
    color: rgb(251, 243, 233);
    
}

.images {
    display: flex;
    size: 10rem;
}

.parrafos-largos {
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 2px solid rgb(22, 22, 22);
   
}

.exterior-nosotros {
    display: flex;
    justify-content: center;
    width: auto;
}

.p-local {
    padding: 1rem 2rem;
}

.contacto {
    display: flex;
    font-size: 1,5rem;
}

.contacto-items {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    
}

.link-ubicacion:hover {
    background-color: rgb(54, 54, 54);
}

.carouel-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide  {

    margin-top: 10px;
    padding-bottom: 10px;
    

}

.carousel {
   width: 65vh;
}

@media (max-width: 900px) {

.contacto-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 4fr;
    
    
}  
}


@media (max-width: 740px) {

.parrafos{
    display: grid;
    grid-template-rows: 12fr 12fr;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.parrafo {
    padding: 10px;
}
.parrafo2 {
    padding: 10px;
}

}

@media (max-width: 650px) {
    
    .pie {
        display: flex;
        flex-direction: row;
    }
    .parrafos-largos {
        font-size: 1.5rem;
    } 
}