@media (max-width: 1074px) {
    .exterior-nosotros {
        font-size: 1rem;
    }
}

@media (max-width: 900px) {

    .contacto-items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 4fr 4fr;
        font-size: 0.3rem;
        
        
    }  
    }
    
    @media (max-width: 820px) {
        .exterior-nosotros {
            flex-wrap: wrap;
            padding: 1rem;
        }

        .img-nosotros {
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0;
            justify-content: space-around;
        }

        .img-nosotros-2 {
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-right: 0;
            justify-content: space-around;
        }
    }
    
    @media (max-width: 740px) {
    
    .parrafos{
        display: grid;
        grid-template-rows: 12fr 12fr;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .parrafo {
        padding: 10px;
    }
    .parrafo2 {
        padding: 10px;
    }
    
    }
    
    @media (max-width: 650px) {
        
        .pie {
            display: flex;
            flex-direction: row;
        }
        .parrafos-largos {
            font-size: 0.9rem;
            justify-content: center;
        } 
    }